Source: rootskel-gtk
Section: debian-installer
Priority: optional
Maintainer: Parrot Dev Team <team@parrotsec.org>
Uploaders: Lorenzo "Palinuro" Faletra <palinuro@parrotsec.org>
Build-Depends: debhelper (>= 9), dpkg-dev (>= 1.7.0), librsvg2-bin
Vcs-Browser: https://nest.parrotsec.org/debian-packages/debian-installer/rootskel-gtk
Vcs-Git: https://nest.parrotsec.org/debian-packages/debian-installer/rootskel-gtk.git

Package: rootskel-gtk
Package-Type: udeb
Architecture: any
Depends: ${misc:Depends}, rootskel
Description: Additions for graphical installs to skeleton root filesystem (debian-installer)
